.body {
  max-width: 400%;
}

.container {
  padding-top: 20px;
  color: purple;
}

.weather {
  border: 5px solid purple;
  border-radius: 30px;
  padding: 20px 20px;
  margin: 30px auto;
}

.weather ul {
  list-style: none;
  margin: 0 auto;
  line-height: 19px;
}

.weather .form {
  font-family: fantasy;
  border-color: purple;
}

.weather .button {
  font-family: fantasy;
  border-radius: 5px;
  background-color: purple;
  border-style: none;
  color: white;
  font-weight: 900;
}
